.joinchat {
  --bottom: 56px;
  --sep: 35px;
  --s: 50px;
  --header: calc(var(--s) * 1.16667);
  --red: 219;
  --green: 0;
  --blue: 0;
  --rgb: var(--red) var(--green) var(--blue);
  --bg: rgb(var(--rgb) / 4%);
  --vh: 100vh;
  --icon: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 0 1-13.754 2.299l-5.814.735a.392.392 0 0 1-.438-.44l.748-5.788A12.002 12.002 0 0 1 3.517 3.517zm3.61 17.043.3.158a9.846 9.846 0 0 0 11.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 0 0-1.747 11.554l.16.303-.51 3.942a.196.196 0 0 0 .219.22l3.961-.501zm6.534-7.003-.933 1.164a9.843 9.843 0 0 1-3.497-3.495l1.166-.933a.792.792 0 0 0 .23-.94L9.561 6.96a.793.793 0 0 0-.924-.445 1291.6 1291.6 0 0 0-2.023.524.797.797 0 0 0-.588.88 11.754 11.754 0 0 0 10.005 10.005.797.797 0 0 0 .88-.587l.525-2.023a.793.793 0 0 0-.445-.923L14.6 13.327a.792.792 0 0 0-.94.23z'/%3E%3C/svg%3E");
  --hover: rgb(calc(var(--red) + 50) calc(var(--green) + 50) calc(var(--blue) + 50));
  --tolerance: 210;
  --bw: calc((var(--red) * 0.2126 + var(--green) * 0.7152 + var(--blue) * 0.0722 - var(--tolerance)) * -10000000);
  --text: hsl(0deg 0% calc(var(--bw) * 1%) / clamp(70%, calc(var(--bw) * 1%), 100%));
  --delay: 1s;
  --primary-whatsapp: #075e54;
}

.joinchat__button {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 2;
  bottom: 8px;
  right: 8px;
  height: var(--s);
  min-width: var(--s);
  max-width: 95vw;
  background: #25d366;
  color: inherit;
  border-radius: calc(var(--s) / 2);
  box-shadow: 1px 6px 24px 0 rgba(7, 94, 84, 0.24);
  cursor: pointer;
  transition: background-color linear;
}

.joinchat__button:hover {
  background: #128c7e;
  transition-duration: var(--delay);
}

.joinchat__button:active {
  background: #128c7e;
  transition: none;
}

.joinchat__button__open {
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background: rgb(0 0 0/0)
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M3.516 3.516c4.686-4.686 12.284-4.686 16.97 0 4.686 4.686 4.686 12.283 0 16.97a12.004 12.004 0 0 1-13.754 2.299l-5.814.735a.392.392 0 0 1-.438-.44l.748-5.788A12.002 12.002 0 0 1 3.517 3.517zm3.61 17.043.3.158a9.846 9.846 0 0 0 11.534-1.758c3.843-3.843 3.843-10.074 0-13.918-3.843-3.843-10.075-3.843-13.918 0a9.846 9.846 0 0 0-1.747 11.554l.16.303-.51 3.942a.196.196 0 0 0 .219.22l3.961-.501zm6.534-7.003-.933 1.164a9.843 9.843 0 0 1-3.497-3.495l1.166-.933a.792.792 0 0 0 .23-.94L9.561 6.96a.793.793 0 0 0-.924-.445 1291.6 1291.6 0 0 0-2.023.524.797.797 0 0 0-.588.88 11.754 11.754 0 0 0 10.005 10.005.797.797 0 0 0 .88-.587l.525-2.023a.793.793 0 0 0-.445-.923L14.6 13.327a.792.792 0 0 0-.94.23z'/%3E%3C/svg%3E")
    50% no-repeat;
  background-size: 60%;
  overflow: hidden;
}

.joinchat--chatbox .joinchat__button__open,
.joinchat--chatbox .joinchat__tooltip {
  display: none;
}
.joinchat--chatbox .joinchat__button {
  transition: none;
  background: var(--primary-whatsapp);
}
.joinchat__tooltip {
  position: absolute;
  top: calc(var(--s) / 2 - 16px);
  right: calc(var(--s) + 16px);
  max-width: calc(100vw - var(--s) - 45px);
  height: 32px;
  padding: 0 14px;
  border: none;
  border-radius: 16px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  line-height: 31px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.4s;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
  pointer-events: none;
}

.joinchat__tooltip:after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  right: -6px;
  border: 8px solid transparent;
  border-width: 6px 0 6px 8px;
  border-left-color: #fff;
}

@media (hover: hover) {
  .joinchat__button:hover .joinchat__tooltip {
    opacity: 1;
    animation: none;
    transition: opacity 0.2s;
  }
  .joinchat--btn .joinchat__button:hover .joinchat__qr,
  .joinchat--chatbox .joinchat__button:hover .joinchat__qr {
    display: flex;
  }
}

.joinchat__box {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  width: calc(100vw - var(--sep) * 2);
  max-width: 400px;
  min-height: 170px;
  max-height: calc(var(--vh) - var(--bottom) - var(--sep));
  border-radius: calc(var(--s) / 2 + 2px);
  background: transparent;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
  text-align: left;
  overflow: hidden;
  transform: scale3d(0, 0, 0);
  opacity: 0;
  transition: max-height 0.2s ease-out, opacity 0.4s ease-out, transform 0s linear 0.3s;
}

.joinchat--chatbox .joinchat__box {
  opacity: 1;
  transform: scaleX(1);
  transition: max-height 0.2s ease-out, opacity 0.2s ease-out, transform 0s linear;
}

.joinchat__header {
  display: flex;
  flex-flow: row;
  align-items: center;
  position: relative;
  flex-shrink: 0;
  height: var(--header);
  min-height: 50px;
  padding: 0 70px 0 26px;
  margin: 0;
  background: var(--primary-whatsapp);
}

.joinchat__wa {
  height: 28px;
  width: auto;
  fill: white;
  opacity: 0.95;
}

.joinchat__close {
  --size: 34px;
  position: absolute;
  top: calc(50% - var(--size) / 2);
  right: 24px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.4)
    url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M24 2.4 21.6 0 12 9.6 2.4 0 0 2.4 9.6 12 0 21.6 2.4 24l9.6-9.6 9.6 9.6 2.4-2.4-9.6-9.6L24 2.4z'/%3E%3C/svg%3E")
    50% no-repeat;
  background-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.joinchat__box__scroll {
  padding: 20px 0 70px;
  padding-bottom: calc(var(--s) + 10px);
  background: #fff linear-gradient(0deg, var(--bg), var(--bg));
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior-y: contain;
}

.joinchat__message {
  position: relative;
  min-height: 60px;
  padding: 17px 20px;
  margin: 0 26px 26px;
  border-radius: 32px;
  background: #fff;
  color: #4a4a4a;
  word-break: break-word;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
  transform: translateZ(0);
}

.joinchat__message:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 20px;
  left: -15px;
  width: 17px;
  height: 25px;
  background: inherit;
  -webkit-clip-path: polygon(100% 60%, 5% 100%, 100% 100%);
  clip-path: polygon(100% 60%, 5% 100%, 100% 100%);
}

.joinchat__qr__button {
  cursor: pointer;
  position: absolute;
  left: 0;
  z-index: 3;
}

.joinchat__button__send {
  display: none;
  flex-shrink: 0;
  width: var(--s);
  height: var(--s);
  max-width: var(--s);
  padding: calc(var(--s) * 0.18);
  margin: 0;
  overflow: hidden;
}

.joinchat--chatbox .joinchat__button__send {
  display: block;
}

.joinchat__button__send path {
  fill: none !important;
  stroke: var(--text) !important;
}

.joinchat__button__send .joinchat_svg__plain {
  stroke-dasharray: 1097;
  stroke-dashoffset: 1097;
  animation: joinchat_plain 6s 0.2s ease-in-out infinite;
}

.joinchat__button__send .joinchat_svg__chat {
  stroke-dasharray: 1020;
  stroke-dashoffset: 1020;
  animation: joinchat_chat 6s 3.2s ease-in-out infinite;
}

.joinchat__button__sendtext {
  padding: 0;
  max-width: 0;
  color: white;
  border-radius: var(--s);
  font-weight: 600;
  line-height: var(--s);
  white-space: nowrap;
  opacity: 0;
  overflow: hidden;
  transition: none;
}

.joinchat--chatbox .joinchat__button__sendtext {
  padding: 0 4px 0 24px;
  max-width: 200px;
  opacity: 1;
  transition: max-width 0.2s linear, opacity 0.4s ease-out 0.2s;
}

@keyframes joinchat_plain {
  0%,
  50%,
  to {
    stroke-dashoffset: 1097;
  }
  5%,
  45% {
    stroke-dashoffset: 0;
  }
}

@keyframes joinchat_chat {
  0%,
  50%,
  to {
    stroke-dashoffset: 1020;
  }
  5%,
  45% {
    stroke-dashoffset: 0;
  }
}

@keyframes joinchat_badge_in {
  0% {
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.joinchat__qr {
  position: absolute;
  bottom: calc(var(--s) + 16px);
  right: 0;
  display: none;
  flex-direction: column-reverse;
  width: 228px;
  min-height: 250px;
  padding: 14px 14px 10px;
  border: none;
  border-radius: 16px;
  background: #fff;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  white-space: nowrap;
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.4));
  animation: joinchat_badge_in 0.4s cubic-bezier(0.11, 0.84, 0.83, 1.01) 0.3s both;
  pointer-events: none;
}

.joinchat__qr:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -6px;
  right: calc(var(--s) / 2 - 6px);
  border: 8px solid transparent;
  border-width: 8px 6px 0;
  border-top-color: #fff;
}

.joinchat__qr div {
  font-size: 14px;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
}

.joinchat__qr canvas {
  display: block;
  width: 190px !important;
  height: 190px !important;
  margin: auto;
}

@media (max-width: 767px) {
  .joinchat {
    --sep: 20px;
    --header: 60px;
  }
}

@media (prefers-reduced-motion) {
  .joinchat {
    animation: none;
  }
  .joinchat__button__send .joinchat_svg__plain {
    stroke-dasharray: 0;
    animation: none;
  }
  .joinchat__button__send .joinchat_svg__chat {
    animation: none;
  }
  .joinchat__button__sendtext {
    transition: none !important;
  }
}
